@font-face {
  font-family: 'Circular Spotify Text';
  src: url('fonts/CircularSpotifyText/CircularSpotifyText-Black.otf');
  src: url('fonts/CircularSpotifyText/CircularSpotifyText-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Circular Spotify Head';
  src: url('fonts/CircularSpotifyHead/CircularSpotifyHead-Black.otf');
  src: url('fonts/CircularSpotifyHead/CircularSpotifyHead-Black.otf') format('opentype');
}

html,
body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Circular Spotify Text', Arial, sans-serif;
}

#bm {
  width: 100%;
  height: 100%;
}
